
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Maven+Pro&family=Righteous&family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&family=Roboto+Mono:wght@500&display=swap');

/* DARK THEME*/
/* font */
.font-logo {
    font-family: 'Roboto Mono';
}
.font-title {
    font-family: 'Poppins';
}
.font-body {
    font-family: 'Mulish';
}
/* background */
.bg-dark {
    background-color: #082032;
}
/* text color */
.text-light {
    color: #EFF5F5;
}
.text-nav-menus {
    color: #D6E4E5;
}
.text-dark {
    color: #082032;
}

.input-cursor {
    display: inline-block;
    width: 22px;
    height: 4px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

#article h2 {
    font-weight: bolder;
    font-size: 1.25em;
    line-height: 1.525em;
    margin-top: 2em;
}
#article h3 {
    font-weight: bolder;
    font-size: 1.125em;
    line-height: 1.7em;
    margin-top: 1.6em;
}
#article h4 {
    font-weight: bolder;
    font-size: 1em;
    line-height: 1.7em;
    margin-top: 1.2em;
}
#article p {
    margin-top: 0.6em;
    margin-bottom: 0.8em;
    line-height: 1.7em;
}
#article ol {
    list-style: decimal;
    list-style-position: inside;
}
#article ul {
    list-style: disc;
    list-style-position: inside;
}
#article li {
    margin-top: 0.4em;
}
#article li ul {
    margin-left: 1.5em;
}
#article a {
    color: #5BC0F8;
    text-decoration: underline;
}
#article blockquote {
    border-left: 0.375em solid #6b7280;
    background-color: #334756;
    font-size: 0.875em;
    padding: 0.35em;
}