{% extends "base.html" %}
{% block content %}
  <!-- landing page -->
  <section id="achievements" class="px-6 pt-32 mx-auto md:px-20 md:w-3/4 mb-14">
    <h1 class="mb-2 text-2xl font-bold text-center font-title text-start">> <a href="https://drive.google.com/file/d/1Wy4HCcSxfyue3g0Vlw9zr_n0jkZjrQ-_/view?usp=sharing" target="_blank" class="hover:text-cyan-400">HKI of "Home Sweet Home: Let's Decorate" App</a></h1>
    <p class="mb-4 font-body">
      From PKM-KC competition, my team successfully create "Home Sweet Home: Let's Decorate" App which implement Augmented Reality. 
      Then this app we registry to HKI. Here is the HKI certificate of "Home Sweet Home: Let's Decorate" App.
    </p>

    <h1 class="mb-2 text-2xl font-bold text-center font-title text-start">> <a href="https://drive.google.com/file/d/1RyP1WrSze1bsgn-lu2h6TPCTi0zsA_n6/view" target="_blank" class="hover:text-cyan-400">Get Funded from PKM-KC</a></h1>
    <p class="mb-4 font-body">
      Submit “Home Sweet Home: Let’s Decorate” proposal to Program Kreativitas Mahasiswa (PKM-KC) held by KEMENRISTEK DIKTI. 
      The proposal was discuss about how to make a mobile application for make easy people in design home interior with Augmented Reality technology. 
      This proposal get funded from KEMENRISTEK DIKTI with total 5 million
    </p>

    <h1 class="mb-2 text-2xl font-bold text-center font-title text-start">> <a href="https://ejournal.poltektegal.ac.id/index.php/informatika/article/view/3401" target="_blank" class="hover:text-cyan-400">Published Paper in Sinta 3 Journal</a></h1>
    <p class="mb-4 font-body">
      Published “Klasifikasi Judul Berita Clickbait Menggunakan RNN-LSTM” paper which 
      discuss classification the title of online news is the title clickbait or not using RNN-LSTM algorithm. 
      In the end, mode RNN-LSTM get 79% accuracy in training data and 77% accuracy in test data.
    </p>

    <h1 class="mb-2 text-2xl font-bold text-center font-title text-start">> <a href="https://drive.google.com/file/d/1FSr7jn19AlL9WJ6AXOyih5786H1omHTR/view" target="_blank" class="hover:text-cyan-400">Winner of Habibie Techfest AI Competitions</a></h1>
    <p class="mb-4 font-body">
      Create Dek-Buha or Deteksi Bullying dan Hatespeech app based on web using flask. 
      This app implement RNN-LSTM model to classify and detect hatespeech or bullying in WhatsApp chat with upload chat history to Dek-Buha app.
  </section>
{% endblock %}