{% extends "base.html" %}
{% block content %}
	<div class="container mt-5 pt-5">
		<h2 class="fw-bold text-center">Artikel</h2>
		<div class="row row-cols-1 row-cols-sm-3 g-1 mt-3">
			{% for i in range(i) %}
			<div class="col-sm mt-3">
				<div class="card border-white shadow mb-3 mx-auto rounded-corners h-100" style="max-width: 20rem;">
				  <img src="https://picsum.photos/1600/900?random={{ i+1 }}" class="card-img-top" alt="random image" style="border-radius: 35px 35px 0px 0px;"><br>
				  <div class="card-body">
					<a href="{{ pages[i].path }}.html" class="text-decoration-none" style="color: #464660;">
						<h5 class="card-title fw-bold">{{ pages[i].title }}</h5>
					</a>
					<p class="card-text small">
						{{ pages[i].description }}
					</p>
				  </div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
