<!doctype html>
<!-- main_class responsive_class margin padding size color font_style-->
<html class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- favicon icon -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon_io/favicon.ico') }}">
  <!-- custom css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='custom/css/styles.css') }}">
  <!-- tailwinds css -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- prism CSS -->
  <link href="{{ url_for('static', filename='prism/css/prism.css') }}" rel="stylesheet" />
  <!-- awesome font -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" crossorigin="anonymous">
  <title>{{ title }}</title>
</head>
<body class="bg-dark font-body text-light">
  <!-- navbar -->
  <nav class="fixed w-full bg-dark ">
    <!-- text logo -->
    <div class="container flex flex-wrap items-center justify-between px-6 py-3 mx-auto md:w-3/4 md:px-20">
      <a href="{{ url_for('home')}}" class="text-center lg:w-0 md:w-full">
        <span class="self-center text-2xl font-bold font-logo whitespace-nowrap">./widi</span>
      </a>
      <!-- collapse menus -->
      <button id="btn-nav" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-600 bg-transparent rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <!-- menu -->
      <div class="hidden w-full md:block md:w-auto md:mx-auto lg:mx-0" id="navbar-default">
        <ul class="flex flex-col mt-4 font-body md:flex-row md:space-x-12 md:mt-0 md:text-base md:font-medium">
          <li>
            <a href="{{ url_for('home') }}" class=" block py-3 pr-2 pl-2 text-center {% if title.lower() == 'home' %} text-cyan-400 font-bold underline decoration-3 underline-offset-[12px] {% else %} text-gray-400 hover:text-cyan-400 hover:font-bold {% endif %}" aria-current="page">Home</a>
          </li>  
          <li>
            <a href="{{ url_for('projects') }}" class=" block py-3 pr-2 pl-2 text-center {% if title.lower() == 'projects' %} text-cyan-400 font-bold underline decoration-3 underline-offset-[12px] {% else %} text-gray-400 hover:text-cyan-400 hover:font-bold {% endif %}" aria-current="page">Projects</a>
          </li>
          <li>
            <a href="{{ url_for('achievements') }}" class=" block py-3 pr-2 pl-2 text-center {% if title.lower() == 'achievements' %} text-cyan-400 font-bold underline decoration-3 underline-offset-[12px] {% else %} text-gray-400 hover:text-cyan-400 hover:font-bold {% endif %}" aria-current="page">Achievements</a>
          </li>
          <li>
            <a href="{{ url_for('articles') }}" class=" block py-3 pr-2 pl-2 text-center {% if title.lower() == 'articles' %} text-cyan-400 font-bold underline decoration-3 underline-offset-[12px] {% else %} text-gray-400 hover:text-cyan-400 hover:font-bold {% endif %}" aria-current="page">Articles</a>
          </li>                
        </ul>
      </div>
    </div>
  </nav>
  <!-- content -->
  {% block content %} {% endblock %}
  <!-- footer -->
  <footer class="px-6 py-3 mx-auto md:px-20 md:w-3/4">
    <div class="m-auto my-4 border-gray-200">
      <div class="my-10 text-sm text-center md:my-0">
        <!-- this site build with technology.. -->
        Build with 
          <span class="font-bold">Flowbite</span> 
          <span class="text-red-500">&#10084;</span> 
          <span class="font-bold">Tailwind</span> 
          <span class="text-red-500">&#10084;</span> 
          <span class="font-bold">Flask</span>
        <br>
        2023 &copy; Widi Afandi
      </div>
    </div>
    <hr class="mx-auto my-2 border-gray-700">
  </footer>
</body>
<!-- flowbite js -->
<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
<!-- jquery js -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- prism js for syntax highlight -->
<script src="{{ url_for('static', filename='prism/js/prism.js') }}"></script>
</html>