{% extends "base.html" %}
{% block content %}
    <!-- projects -->
    <section id="projects" class="px-8 pt-32 md:px-20 mb-14">
        <!-- articles page -->
        <h1 class="mb-10 text-4xl font-extrabold text-center md:text-start md:underline md:decoration-wavy md:underline-offset-8">
        <span class="mr-2 fa-solid fa-newspaper text-blue-1"></span>Articles
        </h1>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 md:gap-4">
            <!-- show card articles -->
            {% for i in range(sum_articles) %}
                <div class="container mx-auto max-w-sm bg-[url('https://picsum.photos/1600/900?random={{ i+1 }}')] rounded-lg shadow-md mb-10">
                    <div class="h-full p-6 rounded-lg bg-black/50">
                        <!-- title article -->
                        <h5 class="mb-4 text-2xl font-bold tracking-tight text-white">{{ articles[i].title }}</h5>
                        <!-- description article -->
                        <p class="mb-6 font-normal text-gray-200">{{ articles[i].description }}</p>
                        <!-- link article -->
                        <a href="{{ articles[i].path }}.html" class="px-3 py-2 my-auto text-center text-white align-bottom bg-green-800 rounded-full shadow-md hover:bg-cyan-700">
                            Read more
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}