{% extends "base.html" %}
{% block content %}
		<!-- intro -->
		<script>
			// Some random colors
			const colors = ["#95E1D3", "#FF75A0", "#FCE38A", "#EAFFD0"];
	
			const numBalls = 50;
			const balls = [];
	
			for (let i = 0; i < numBalls; i++) {
			let ball = document.createElement("div");
			ball.classList.add("ball");
			ball.style.background = colors[Math.floor(Math.random() * colors.length)];
			ball.style.left = `${Math.floor(Math.random() * 60)}vw`;
			ball.style.top = `${Math.floor(Math.random() * 70)}vh`;
			ball.style.transform = `scale(${Math.random()})`;
			ball.style.width = `${Math.random()}em`;
			ball.style.height = ball.style.width;
			
			balls.push(ball);
			document.body.append(ball);
			}
	
			// Keyframes
			balls.forEach((el, i, ra) => {
			let to = {
				x: Math.random() * (i % 2 === 0 ? -11 : 11),
				y: Math.random() * 12
			};
	
			let anim = el.animate(
				[
				{ transform: "translate(0, 0)" },
				{ transform: `translate(${to.x}rem, ${to.y}rem)` }
				],
				{
				duration: (Math.random() + 1) * 2000, // random duration
				direction: "alternate",
				fill: "both",
				iterations: Infinity,
				easing: "ease-in-out"
				}
			);
			});
		</script>
		<div class="container vh-100 d-flex align-items-center justify-content-center text-center flex-column">
			<h1 class="text-center title fw-bold">Halo, saya Widi Afandi</h1>
			<span class="text-center">Cyber Security | Machine Learning | Linux Enthusiasts</span>
			<span class="text-center fs-6 fw-bold mt-4 mb-2">Sosial Media</span>
			<div class="row row-cols-3 row-cols-sm-3 g-4">
				<div class="col-sm">
					<a href = "https://github.com/technisekai" target="_blank">
						<img src="{{ url_for('static', filename='assets/img/sosial-media/github.png') }}" alt="" width="50" height="50">
					</a>
				</div>
				<div class="col-sm">
					<a href = "mailto:widiafandi58@gmail.com" target="_blank">
						<img src="{{ url_for('static', filename='assets/img/sosial-media/gmail.png') }}" alt="" width="50" height="50">
					</a>
				</div>
				<div class="col-sm">
					<a href = "https://www.linkedin.com/in/widi-afandi-9347211b6/" target="_blank">
						<img src="{{ url_for('static', filename='assets/img/sosial-media/linkedin.png') }}" alt="" width="50" height="50">
					</a>
				</div>
			</div>
		</div>
		<!-- Ringkasan -->
		<div class="container bg-red p-5 text-center rounded-corners">
			<h3 class="fw-bold">Perkenalkan</h3>
			<p class="mt-4 text-start">
				Saya Widi Afandi, seorang mahasiswa jurusan Teknik Informatika dari salah satu perguruan swasta di Purwokerto. Saya berumur 20 tahun untuk saat ini dan berasal dari Kabupaten Pekalongan, Jawa Tengah.
				Saya tertarik dan fokus pada bidang machine learning, cyber security, serta sistem operasi linux. Saya orang yang mudah beradaptasi dengan
				lingkungan baru, selalu memikirkan cara sederhana dalam menyelesaikan permasalahan, serta dapat bekerjasama dengan tim.
			</p>
		</div>
		<!-- Biodata -->
		<div class="container rounded-3 p-5 mt-5">
			<div class="row">
				<div class="col-sm-7">
					<h3 class="fw-bold text-center">Biodata</h3>
					<p class="mt-4">
						<ul>
							<li>Nama: Widi Afandi</li>
							<li>Domisili: Pekalongan, Jawa Tengah</li>
							<li>Umur: 20 tahun</li>
							<li>Jenis Kelamin: Laki-Laki</li>
							<li>
								Pendidikan:
								<ul>
									<li>Teknik Komputer dan Jaringan (2016-2019)</li>
									<li>Teknik Informatika (2019-Sekarang)</li>
								</ul> 
							</li>
						</ul>
					</p>
				</div>
				<div class="col-sm text-center">
					<img src="{{ url_for('static', filename='assets/img/foto1.png') }}" style="Width: 70%;">
				</div>
			</div>
		</div>
		<!-- Skill -->
		<div class="container mt-5 bg-cyan p-5 rounded-corners justify-content-center">
			<h3 class="fw-bold text-center">Skill</h3>
			<p class="mt-4">
				<div class="row row-cols-2 row-cols-sm-5 g-4">
				{% for i in skill %}
				<!-- skill -->
				<div class="col text-center">
					<img src="{{ url_for('static', filename='assets/img/icon-skill/'+i) }}" style="width: 60px; height: 60px;">
					<p>{{ i.split('.')[0].title() }}</p>
				</div>
				{% endfor %}
				</div>
			</p>
		</div>
		<!-- Portofolio -->
		<div class="container rounded-3 p-5 mt-5">
			<div class="col-sm">
				<h3 class="fw-bold text-center">Portofolio</h3>
				<p class="mt-4">
					<div class="row row-cols-1 row-cols-sm-3 g-4">
					{% for i in porto %}
					<!-- portofolio -->
					<div class="col">
						<div class="card shadow rounded-corners h-100">
							<img src="{{ url_for('static', filename='assets/img/portofolio/'+i) }}" class="card-img-top img-fluid" style="border-radius: 35px 35px 0px 0px;">
							<div class="card-body p-4">
								<h5 class="card-title fw-bold text-center">{{ i.split('.')[0].replace('-', ' ') }}</h5>
							</div>
						</div>
					</div>
					{% endfor %}
					</div>
				</p>
			</div>
		</div>
	</div>
{%  endblock %}
