{% extends "base.html" %}
{% block content %}
		<!-- intro -->
		<script>
			// Some random colors
			const colors = ["#95E1D3", "#FF75A0", "#FCE38A", "#EAFFD0"];
	
			const numBalls = 50;
			const balls = [];
	
			for (let i = 0; i < numBalls; i++) {
			let ball = document.createElement("div");
			ball.classList.add("ball");
			ball.style.background = colors[Math.floor(Math.random() * colors.length)];
			ball.style.left = `${Math.floor(Math.random() * 60)}vw`;
			ball.style.top = `${Math.floor(Math.random() * 70)}vh`;
			ball.style.transform = `scale(${Math.random()})`;
			ball.style.width = `${Math.random()}em`;
			ball.style.height = ball.style.width;
			
			balls.push(ball);
			document.body.append(ball);
			}
	
			// Keyframes
			balls.forEach((el, i, ra) => {
			let to = {
				x: Math.random() * (i % 2 === 0 ? -11 : 11),
				y: Math.random() * 12
			};
	
			let anim = el.animate(
				[
				{ transform: "translate(0, 0)" },
				{ transform: `translate(${to.x}rem, ${to.y}rem)` }
				],
				{
				duration: (Math.random() + 1) * 2000, // random duration
				direction: "alternate",
				fill: "both",
				iterations: Infinity,
				easing: "ease-in-out"
				}
			);
			});
		</script>
		<div class="container vh-100 d-flex align-items-center justify-content-center text-center flex-column pe-4 ps-4">
			<h1 class="text-center title fw-bold">Hello, I'm Widi Afandi</h1>
			<span class="text-center">Cyber Security | Machine Learning | Linux Enthusiasts</span>
			<span class="text-center fs-6 fw-bold mt-4 mb-2">Sosial Media</span>
			<div class="row row-cols-3 row-cols-sm-3 g-4">
				<div class="col-sm">
					<a href = "https://github.com/technisekai" target="_blank">
						<img src="{{ url_for('static', filename='assets/img/sosial-media/github.png') }}" alt="" width="50" height="50">
					</a>
				</div>
				<div class="col-sm">
					<a href = "mailto:widiafandi58@gmail.com" target="_blank">
						<img src="{{ url_for('static', filename='assets/img/sosial-media/gmail.png') }}" alt="" width="50" height="50">
					</a>
				</div>
				<div class="col-sm">
					<a href = "https://www.linkedin.com/in/widi-afandi-9347211b6/" target="_blank">
						<img src="{{ url_for('static', filename='assets/img/sosial-media/linkedin.png') }}" alt="" width="50" height="50">
					</a>
				</div>
			</div>
		</div>
		<!-- Ringkasan -->
		<div class="container-fl bg-red p-5 text-center">
			<h3 class="fw-bold">About Me</h3>
			<p class="mt-4 ">
				Im undergratuated student which focus in data science, machine learning, and deep learning especially Natural Language Processing (NLP). Usually use python programming language with pandas, numpy, seaborn, matplotlib, sklearn, and tensorflow libraries for analyze, visualization, preprocessing, modeling, and deployment. Beside that, i have knowledge in cybersecurity and can use tools like kibana, wireshark, and networkminer for analyze network logs.
			</p>
		</div>
		<!-- Biodata -->
		<div class="container rounded-3 p-5 mt-5">
			<div class="row">
				<div class="col-sm-7 justify-content-center">
					<h3 class="fw-bold text-center">Biodata</h3>
					<p class="mt-4">
						<table class="table table-borderless">
							<tr>
								<td>Name</td>
								<td>:</td>
								<td>Widi Afandi</td>
							</tr>
							<tr>
								<td>Address</td>
								<td>:</td>
								<td>Pekalongan Regency, Central Java</td>
							</tr>
							<tr>
								<td>Age</td>
								<td>:</td>
								<td>21 years old</td>
							</tr>
							<tr>
								<td>Gender</td>
								<td>:</td>
								<td>Male</td>
							</tr>
							<tr>
								<td>Educations</td>
								<td>:</td>
								<td>
									<ol>
										<li>Computer and Network Engineering (2016-2019)</li>
										<li>Informatics Engineering (2019-Now)</li>
									</ol> 
								</td>
							</tr>
							<tr>
								<td>Achievements</td>
								<td>:</td>
								<td>
									<ol>
										<li>Get Funding in The Student Creativity Program (PKM-KC), Jun 2022</li>
										<li>The Winner of Orbit Habibie Techfest (AI Competitions) - Dec, 2021</li>
										<li>Top 20 Finalist GEMASTIK XIII (Cyber Security) - Sep, 2020</li>
										<li>3rd Place of Best Graduate at SMKN 1 Sragi - May, 2019</li>
									</ol> 
								</td>
							</tr>
						</table>
					</p>
				</div>
				<div class="col-sm text-center align-items-center justify-content-center">
					<img src="{{ url_for('static', filename='assets/img/widi-afandi.png') }}" style="Width: 95%;">
				</div>
			</div>
		</div>
		<!-- Skill -->
		<div class="container-fl mt-5 bg-cyan p-5 justify-content-center">
			<h3 class="fw-bold text-center">Tools</h3>
			<p class="mt-4">
				<div class="row row-cols-3 row-cols-sm-5 g-4">
				{% for i in skill %}
				<!-- skill -->
				<div class="col text-center">
					<img src="{{ url_for('static', filename='assets/img/icon-skill/'+i) }}" style="width: 60px; height: 60px;">
					<p>{{ i.split('.')[0].title() }}</p>
				</div>
				{% endfor %}
				</div>
			</p>
		</div>
		<!-- Portofolio -->
		<div class="container rounded-3 p-5 mt-5">
			<div class="col-sm">
				<h3 class="fw-bold text-center">Project</h3>
				<p class="mt-4">
					<div class="row row-cols-1 row-cols-sm-3 g-4">
					{% for i in porto %}
					<!-- portofolio -->
					<div class="col">
						<div class="card shadow rounded-corners h-100">
							<img src="{{ url_for('static', filename='assets/img/portofolio/'+i) }}" class="card-img-top img-fluid" style="border-radius: 35px 35px 0px 0px;">
							<div class="card-body p-4">
								<h5 class="card-title fw-bold text-center">{{ i.split('.')[0].replace('-', ' ') }}</h5>
							</div>
						</div>
					</div>
					{% endfor %}
					</div>
				</p>
			</div>
		</div>
	</div>
{%  endblock %}
