{% extends "base.html" %}
{% block content %}
  <!-- landing page -->
  <section id="home" class="h-screen px-6 mx-auto md:w-3/4 font-title text-light md:px-20 mb-14">
    <div class="flex grid h-screen m-auto lg:grid-cols-2">
      <!-- intorduction -->
      <div class="m-auto space-y-5 text-base">
        <span class="text-xl">
          Hello there, I'm ...<br>
          <span class="text-5xl font-bold">Widi Afandi 👋</span>
        </span>
        <p>a Data Engineer with 3+ years of experience.</p>
        <p>
          Focus on data engineering things like 
          <span class="text-sky-500">Automation, Data Warehousing, Data Orchestration, MLOps, Databases, </span>
          and <span class="text-sky-500">Data Quality.</span>
          I also can make <span class="text-sky-500">dashboards</span> with full insight 
          and some <span class="text-sky-500">AI (LLM, RAG)</span> things to makes our live easier than ever.
        </p>
        <p>
          Wanna see my curriculum vitae? <a href="https://drive.google.com/file/d/1I7C3jQ9wg26OJZswmgCdkRU_0xPIPJr8/view?usp=sharing" class="hover:text-cyan-400" target="_blank">click here!</a>
        </p>
      </div>
      <!-- social media -->
      <div class="mb-auto lg:my-auto lg:ml-auto">
        <div class="grid grid-cols-4 text-center md:gap-10">
        {% for i in data['social_media'] %}
          <div>
            <button class="w-12 h-12 my-auto text-2xl bg-white rounded  hover:ring-8 ring-{{ data['social_media'][i]['color'] }}/50">
              <a class="{{ data['social_media'][i]['icon'] }} text-{{ data['social_media'][i]['color'] }}" href="{{ data['social_media'][i]['link'] }}" target="_blank"></a>
            </button>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}