{% extends "base.html" %}
{% block content %}
  <!-- landing page -->
  <section id="home" class="h-screen px-6 mx-auto md:w-3/4 font-title text-light md:px-20 mb-14">
    <div class="flex grid h-screen m-auto lg:grid-cols-2">
      <!-- intorduction -->
      <div class="m-auto space-y-5 text-base">
        <span class="text-xl">Hello, there<br>
          I’m <span class="text-5xl font-bold">Widi Afandi 👋</span>
        </span>
        <p>a freshgraduate student of Informatics Engineering.</p>
        <p>
          I’m focus in field of data like <span class="font-bold">data science, machine learning,</span> and <span class="font-bold">deep learning.</span>
          Ah and one more, I’m currently learn about mobile development using <span class="font-bold">Flutter Framework.</span>
        </p>
        <p>
          Wanna see my curriculum vitae? click here
        </p>
      </div>
      <!-- social media -->
      <div class="mb-auto lg:my-auto lg:ml-auto">
        <div class="grid grid-cols-4 text-center md:gap-10">
        {% for i in data['social_media'] %}
          <div>
            <button class="w-12 h-12 my-auto text-2xl bg-white rounded  hover:ring-8 ring-{{ data['social_media'][i]['color'] }}/50">
              <a class="{{ data['social_media'][i]['icon'] }} text-{{ data['social_media'][i]['color'] }}" href="{{ data['social_media'][i]['link'] }}" target="_blank"></a>
            </button>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}